<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Currently, I work at Apple as a Technical Product Manager. In my spare (professional) time, I enjoy learning adjacent areas like programming and UX Design.</p>
      </div>
      <div class="col-lg-4">
        <p>This page is being developed as a part of my participation in Google's UX Certification. In addition to hosting my resume, it hosts some 
            of my very first work in the field of UX.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/slchristensen/slchristensen.github.io/blob/main/Christensen_Resume_2023.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
